
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
    margin: 25px 0px 35px 0px ;
}

.input_value-search {
    padding: 10px 5px;
    width: 400px;
    font-size: 20px;
}